.Navbar{
    display: flex;
    align-items: center ;
    width: 100vmax;
    height: 15vmin;
    justify-content: space-between;
    background-color: rgb(27, 27, 37);
}
.Navbar svg{
    margin-left: 5%;
    width:12vmin;
    height:12vmin;
    color: #ffc222;
}
.Navbar li{
    list-style: none;
    font-size:18px;
}
.link{
    text-decoration: none;
    color:white;
}
.link:hover{
    color: #ffc222;
}
.Navbar ul{
    margin-right: 2vmax;
    align-items: center ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 30vmax;
    height: 50%;
    padding: 0%;
}